/* Ironclad core styles */
body {
    margin-bottom: 35px;
}

@import '../lib/bootstrap/scss/bootstrap';

$breakpoints: ( 
	'small': map-get($container-max-widths, sm), 
	'medium': map-get($container-max-widths, md), 
	'large': map-get($container-max-widths, lg), 
	'giant': map-get($container-max-widths, xl)
);

@import 'mixins/responsive';
@import 'components/consent';
@import 'components/grants';
@import 'components/manage';

.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.navbar {
    nav {
        a {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.external-login-button {
    margin-bottom: 5px;
}