@{
    ViewData["Title"] = "Unsupported";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Could not find a valid account in the system, please try again later.</p>
</header>
