# VS Files
*.suo
*.user
*.sln.ide
*.sln.cache
*.sln.docstates

# VS Folders
.vs/
.vscode/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Ironclad
*.Custom.*
[Ll]ogs/
tempkey.rsa

# Other
Thumbs.db
/[Bb]uild/*