@model VersionModel
<div class="welcome-page">
    <div class="row">
        <div class="col-sm-10">
            <h1>
                Welcome to @Model.Title
            </h1>
            <h2>
                <small>@Model.Version (@Model.OS)</small>
            </h2>
        </div>
    </div>
</div>
