@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using IdentityServer4.Extensions
@using Microsoft.Extensions.Options;
@using Ironclad;

@inject IOptions<Settings.VisualSettings> ThemeConfiguration

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ironclad</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/@ThemeConfiguration.Value.StylesFile" />
</head>
<body>
    <header>
        <div class="navbar navbar-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="~/" class="navbar-brand d-flex align-items-center">
                    <span class="navbar-brand">
                        <img src="~/@ThemeConfiguration.Value.LogoFile" class="icon-banner" height="32">
                    </span>
                </a>
                <nav class="my-2 my-md-0 mr-md-3">
                    @if (!string.IsNullOrWhiteSpace(name))
                    {
                        <a asp-action="Index" asp-controller="Manage">@name</a>
                        <a asp-action="Logout" asp-controller="Account">Logout</a>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account">Login</a>
                    }
                </nav>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
