@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-lg-9 manage-body">
            <div class="card card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
