.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
!Ironclad/bin/Release/netcoreapp2.1/linux-x64/publish/**/*
*/obj
!obj/Docker/publish/*
!obj/Docker/empty/
appsettings.Custom.json